.contact {
    padding: 5px;
    margin: 5px;
    height: 45px;
    width: 45px;
}

.avatar{
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 200px 200px 200px 200px;
}

.introduction {
    display: flex;
}