.avatar {
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 200px;
}

.introduction_bloc {
    display: flex;
    background : linear-gradient(to top left,orangered,orange);
    align-items: center;
    justify-content: center;
    position: relative;
}

.contact{
    width: 20px;
    height: 20px;
    margin: 5px;   
}

.alignement_footer{  
    display: flex;
    background : linear-gradient(to bottom left,rgb(233, 73, 15),rgb(221, 157, 39));
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 8px;
}  

.alignement_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.occupation_bloc {
    width: 130px;
    height: 130px;
    margin: 5px;
    cursor:pointer;
}

body {
    margin: auto;
    padding: auto;
    background-color: cornsilk;
    position: absolute; top:0;bottom:0;left:0;right:0;
}

#bloc_langueduolingo:hover{
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
#bloc_openclassroom:hover{
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
#bloc_mimo,#bloc_sololearn:hover{
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
#bloc_wildlearner:hover{
    border-radius: 20px;
    background-color: bisque;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.bloc_langue{
    display: inline-block;
    background: linear-gradient(to top left, rgb(4, 206, 4),rgb(26, 216, 105));
    color: rgb(214, 122, 1);
    padding: 10px;
    margin: 10px;
    width: auto;
    border-radius: 20px;
    font-style: italic;
}

.bloc_programme{
    display: inline-block;
    background: linear-gradient(to top left, rgb(105, 25, 233),rgb(12, 25, 207));
    color: rgb(238, 47, 47);
    padding: 10px;
    margin: 10px;
    width: auto;
    border-radius: 20px;
    font-style: italic;
}

.bloc_livre{
    display: inline-block;
    background: linear-gradient(to top left, rgb(255, 255, 255),rgb(0, 0, 0));
    color: rgb(196, 184, 14);
    padding: 10px;
    margin: 10px;
    width: auto;
    border-radius: 20px;
    font-style: italic;
}
#livre_pourlesnuls:hover{
    opacity: 0.4;
    background-color: black;
    border-radius: 20px 20px 20px 20px;
    transition: 0.3s ease-in-out;
}

.bloc_parrainage{
    display: inline-block;
    background: linear-gradient(to top left, rgb(199, 151, 18),rgb(168, 166, 166));
    color: rgb(247, 39, 12);
    padding: 10px;
    margin: 10px;
    width: auto;
    border-radius: 20px;
    font-style: italic;
}
#bloc_parrainage:hover{
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

#lumière_ico:hover{
    box-shadow: 0px 0px 20px rgb(253, 2, 127);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    .avatar, .sources {
        display: none;
    }
}
button{
    cursor: pointer;
    background-color: rgb(0, 255, 110);
    border-radius: 10px;
    border :4px double yellowgreen;
}
#bloc_code{
    border: 4px solid purple;
    background-color: black;
    color: azure;
    display: inline-block;
    justify-content: space-around;
    width: auto;
    border-radius: 20px;
}
#pres_code{
    display: inline-block;
    border-radius: 10px;
    border: 4px dotted plum;
    background-color: whitesmoke;
    width: auto;
    height: auto; 
    padding: auto;
    margin: auto;
}