.contact {
    padding: 5px;
    margin: 5px;
    height: 45px;
    width: 45px;
}

.avatar{
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 200px 200px 200px 200px;
}

.introduction_bloc {
    display: flex;
    background : linear-gradient(orangered,orange);
    align-items: center;
    justify-content: center;
}

.ajustement_header {
    margin: auto;
    padding: auto;
    width: auto;
    height: auto;
}

body {
    margin: 0;
}

.ajustement_footer {
    margin: auto;
    padding: auto;
    width: auto;
    height: auto;
}